{% extends "layout.html" %}
{% set markers = apos.location.formatMarkers(data.pieces) %}
{% block extraHead %}
  <script src="//api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.js"></script>
  <link type="text/css" rel="stylesheet" href="//api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.css"/>
{% endblock %}

{% block main %}
  <section class="main location-index">
    <div class="locations">
      <div class="map-canvas map-canvas--loading map-canvas--large" data-map='{{ markers | jsonAttribute({ single: true }) }}'></div>
      <div class="locations-list">
        <div class="locations-list__header">Find a Location</div>
        <div class="location-list__search">
          <input placeholder="Enter Zip code or city, state" class="location-list__search-input" type="text">
          <button class="location-list__search-submit">Find Locations</button>
        </div>
        <ol class="location-list__items">
          {% for piece in data.pieces %}
            <li class="location-list__item">
              <h2 class="location-list__title">{{ piece.title }}</h2>
              {% if piece.address %}
                <p class="location-list__text location-list__address">{{ piece.address }}</p>  
              {% endif %}
              {% if piece.phone %}
                <p class="location-list__text location-list__phone">{{ piece.phone }}</p>  
              {% endif %}
              {% if piece.hoursBrief %}
                <p class="location-list__text location-list__hours">{{ piece.hours }}</p>  
              {% endif %}
              <a class="location-list__text soci-button location-list__button location-list__link" href="{{ piece._url }}">
                View Location
              </a>
            </li>
          {% endfor %}
        </ol>
      </div>
    </div>
    
  </section>
{% endblock %}
