.c-placeholder__svg {
  position: fixed;
  top: 150px;
  right: 20px;
  transform: scale(-1, 1) translateY(0);
  // Doesn't like the seconds unit?
  // stylelint-disable-next-line
  animation: pointerFloat 4s ease-in-out infinite;
}

.c-placeholder--is-hidden {
  display: none;
}

.c-placeholder__help {
  $yellow: #ffffd8;

  width: 30%;
  margin: 10rem auto;
  padding: 50px;
  border: 1px solid #dbdbdb;
  font-family: var(--a-family-default);
  font-size: var(--a-type-base);
  font-weight: var(--a-weight-base);
  letter-spacing: var(--a-letter-base);
  border-radius: 10px;
  background-color: $yellow;
  text-align: center;
}

.c-placeholder__button {
  $white: #fff;
  $black: #000;
  $font-size: 12px;
  $font-mono: sfmono-regular, consolas, liberation mono, menlo, monospace;

  display: inline-block;
  padding: 5px;
  border: 1px solid $black;
  border-bottom-color: $black;
  color: $black;
  font-family: $font-mono;
  font-size: $font-size;
  line-height: 1;
  vertical-align: middle;
  background-color: $white;
  border-radius: 6px;
  box-shadow: inset 0 -1px 0 $black;
}

@keyframes pointerFloat {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0);
  }
}
