$color-purple: #6236ff;
$color-pink: #fe5599;
$color-green: #0c8;
$color-gold: #f7b500;

$color-light-yellow: #ffffd8;

$color-white: #fff;
$color-gray-05: #eee;
$color-gray-15: #dbdbdb;
$color-gray-80: #2b2b2b;
$color-black: #000;
