$font-monospace: menlo, monaco, consolas, 'Liberation Mono', 'Courier New', monospace;
$font-sans-serif: -apple-system, blinkmacsystemfont, "Segoe UI", roboto, helvetica, arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$font-weight-light: 200;
$font-weight-normal: 400;
$font-weight-bold: 700;