html {
  font-size: var(--palette-font-size);
  line-height: 1;
  text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.15;
}

h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 30px;
}

h1,
h2,
h3 {
  color: $color-black;
}

h4,
h5,
h6 {
  color: var(--palette-font-color);
  font-size: var(--palette-font-size);
}

h1 {
  margin-bottom: 50px;
  font-size: rem(64);
  font-weight: $font-weight-light;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

p {
  line-height: 1.5;
}
