{% extends 'layout.html' %}
{% import 'search.html' as search with context -%}
{% import 'card.html' as card with context -%}
{% import '@apostrophecms/pager:macros.html' as pager with context %}

{%- macro here(url, changes) -%}
  {{ url | build({
    brand: data.query.brand
  }, changes) }}
{%- endmacro -%}

{% set brands = data.piecesFilters.brand %}

{% block main %}
<main class="c-site-index">
  <div class="c-site-index__background"></div>
  <div class="o-container">
    {% if brands.length > 1 %}
      <select-link>
        <select name="brand">
          <option value="{{ here(data.url, { brand: null }) }}" {% if not data.query.brand %}selected{%endif %}>Any Brand</option>
          {% for brand in brands %}
            <option value="{{ here(data.url, { brand: brand.value }) }}" {% if data.query.brand == brand.value %}selected{%endif %}>{{ brand.label }}</option>
          {% endfor %}
        </select>
      </select-link>
    {% endif %}
    {{ card.renderAll(data.pieces) }}
    {{ pager.render({
      page: data.currentPage,
      total: data.totalPages
    }, data.url) }}
  </div>
</main>
{% endblock %}
