code {
  white-space: normal;
}

pre {
  position: relative;
  display: flex;
  overflow: auto;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 20px;
  color: $color-white;
  background: $color-gray-80;
  font-family: $font-monospace;
  font-size: rem(14);
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.8;
  tab-size: 4;
  hyphens: none;
  border-radius: 6px;
  max-width: 600px;
}

.code--inline {
  padding: 4px 6px;
  border: 1px solid $color-gray-15;
  font-size: rem(12);
  background-color: $color-gray-05;
  border-radius: 5px;
}
