<div class="soci-products-widget">
  <h3>{{ data.widget.title }}</h3>
  <div class="nekter-sub-nav">
    <div class="nekter-sub-nav_wrap">
      <ul class="nekter-sub-nav_element">
        <li class="sub-nav-item active">
          <button data-id="Bowls">Bowls</button>
        </li>
        <li class="sub-nav-item"><button data-id="Juices">Juices</button></li>
        <li class="sub-nav-item">
          <button data-id="Smoothies">Smoothies</button>
        </li>
        <li class="sub-nav-item">
          <button data-id="Superfood Oats">Superfood Oats</button>
        </li>
        <li class="sub-nav-item"><button data-id="Shots">Shots</button></li>
        <li class="sub-nav-item">
          <button data-id="Grab N' Go's">Grab N' Go's</button>
        </li>
        <li class="sub-nav-item"><button data-id="Snacks">Snacks</button></li>
        <li class="sub-nav-item">
          <button data-id="Cleanses">Cleanses</button>
        </li>
        <li class="sub-nav-item">
          <button data-id="Catering">Catering</button>
        </li>
        <li>
          <a
            href="https://order.nekterjuicebar.com/menu/blue-bell/"
            data-sb-event="link-outgoing"
            data-sb-prop-link="https://order.nekterjuicebar.com/menu/blue-bell/"
            target="_blank"
            >View All</a
          >
        </li>
      </ul>
      <span class="subnav-arrow-wrap fa fa-angle-left"></span>
      <span class="subnav-arrow-wrap fa fa-angle-right"></span>
    </div>
  </div>
  <div class="nekter-olo-menu_wrap">
    <div class="nekter-category-wrap active" id="Bowls">
      <div class="nekter-category-list-wrap">
        <h4>Bowls</h4>
        <div style="display: flex">
          <div class="nekter-olo-menu-product_item">
            <img
              data-src="https://olo-images-live.imgix.net/7e/7e7cdc40c78f488ca3a2987ec4d55d67.jpg?auto=format%2Ccompress&amp;q=60&amp;cs=tinysrgb&amp;w=528&amp;h=352&amp;fit=crop&amp;s=6a7fef6a65bc09ac26a0c318d9faab6e"
              loading="lazy"
              class="image-scale-hack lazyloaded"
              src="https://olo-images-live.imgix.net/7e/7e7cdc40c78f488ca3a2987ec4d55d67.jpg?auto=format%2Ccompress&amp;q=60&amp;cs=tinysrgb&amp;w=528&amp;h=352&amp;fit=crop&amp;s=6a7fef6a65bc09ac26a0c318d9faab6e"
            />

            <div class="nekter-item-wrap">
              <h4>Tropical Citrus Bowl</h4>
              <h4 class="nekter-item-price">$10.75</h4>
              <p>
                A light and citrusy blend of spinach, pineapple, acerola
                cherry,...
              </p>
            </div>
            <div class="btn-center">
              <a
                href="https://order.nekterjuicebar.com/menu/blue-bell/products/37693270"
                data-sb-event="link-outgoing"
                data-sb-prop-link="https://order.nekterjuicebar.com/menu/blue-bell/products/37693270"
                target="_blank"
                >Order Now</a
              >
            </div>
          </div>

          <div class="nekter-olo-menu-product_item">
            <img
              data-src="https://olo-images-live.imgix.net/39/399ccef5f146494283efd1bbb82eb968.jpg?auto=format%2Ccompress&amp;q=60&amp;cs=tinysrgb&amp;w=528&amp;h=352&amp;fit=crop&amp;s=4b0f249bb6942aa0d2a3913b5339f2f0"
              loading="lazy"
              class="image-scale-hack lazyloaded"
              src="https://olo-images-live.imgix.net/39/399ccef5f146494283efd1bbb82eb968.jpg?auto=format%2Ccompress&amp;q=60&amp;cs=tinysrgb&amp;w=528&amp;h=352&amp;fit=crop&amp;s=4b0f249bb6942aa0d2a3913b5339f2f0"
            />

            <div class="nekter-item-wrap">
              <h4>Pineapple Coconut Bowl</h4>
              <h4 class="nekter-item-price">$10.75</h4>
              <p>
                A tropical blend of pineapple and coconut base topped with
                hempseed...
              </p>
            </div>
            <div class="btn-center">
              <a
                href="https://order.nekterjuicebar.com/menu/blue-bell/products/37693429"
                data-sb-event="link-outgoing"
                data-sb-prop-link="https://order.nekterjuicebar.com/menu/blue-bell/products/37693429"
                target="_blank"
                >Order Now</a
              >
            </div>
          </div>

          <div class="nekter-olo-menu-product_item">
            <img
              data-src="https://olo-images-live.imgix.net/58/58d76bf1cb22444b9d9743a2f250bdc0.jpg?auto=format%2Ccompress&amp;q=60&amp;cs=tinysrgb&amp;w=528&amp;h=352&amp;fit=crop&amp;s=f6ae05587e3472566928d8a8c0f46094"
              loading="lazy"
              class="image-scale-hack lazyloaded"
              src="https://olo-images-live.imgix.net/58/58d76bf1cb22444b9d9743a2f250bdc0.jpg?auto=format%2Ccompress&amp;q=60&amp;cs=tinysrgb&amp;w=528&amp;h=352&amp;fit=crop&amp;s=f6ae05587e3472566928d8a8c0f46094"
            />

            <div class="nekter-item-wrap">
              <h4>Acai Banana Berry Bowl</h4>
              <h4 class="nekter-item-price">$8.95</h4>
              <p>
                A dream team of berries is a staple to a nutritional diet.
                Acai,...
              </p>
            </div>
            <div class="btn-center">
              <a
                href="https://order.nekterjuicebar.com/menu/blue-bell/products/13019515"
                data-sb-event="link-outgoing"
                data-sb-prop-link="https://order.nekterjuicebar.com/menu/blue-bell/products/13019515"
                target="_blank"
                >Order Now</a
              >
            </div>
          </div>

          <div class="nekter-olo-menu-product_item">
            <img
              data-src="https://olo-images-live.imgix.net/01/01a6b97c9d634ddc86664d4dce58b18d.jpg?auto=format%2Ccompress&amp;q=60&amp;cs=tinysrgb&amp;w=528&amp;h=352&amp;fit=crop&amp;s=3a474e575acba629c1a769b5586d6e4d"
              loading="lazy"
              class="image-scale-hack lazyloaded"
              src="https://olo-images-live.imgix.net/01/01a6b97c9d634ddc86664d4dce58b18d.jpg?auto=format%2Ccompress&amp;q=60&amp;cs=tinysrgb&amp;w=528&amp;h=352&amp;fit=crop&amp;s=3a474e575acba629c1a769b5586d6e4d"
            />

            <div class="nekter-item-wrap">
              <h4>Peanut Butter Bowl</h4>
              <h4 class="nekter-item-price">$8.95</h4>
              <p>
                A healthy snack or post-workout filled with protein, the PB bowl
                is a...
              </p>
            </div>
            <div class="btn-center">
              <a
                href="https://order.nekterjuicebar.com/menu/blue-bell/products/13019517"
                data-sb-event="link-outgoing"
                data-sb-prop-link="https://order.nekterjuicebar.com/menu/blue-bell/products/13019517"
                target="_blank"
                >Order Now</a
              >
            </div>
          </div>

          <div class="nekter-olo-menu-product_item">
            <img
              data-src="https://olo-images-live.imgix.net/01/01a6b97c9d634ddc86664d4dce58b18d.jpg?auto=format%2Ccompress&amp;q=60&amp;cs=tinysrgb&amp;w=528&amp;h=352&amp;fit=crop&amp;s=3a474e575acba629c1a769b5586d6e4d"
              loading="lazy"
              class="image-scale-hack lazyloaded"
              src="https://olo-images-live.imgix.net/01/01a6b97c9d634ddc86664d4dce58b18d.jpg?auto=format%2Ccompress&amp;q=60&amp;cs=tinysrgb&amp;w=528&amp;h=352&amp;fit=crop&amp;s=3a474e575acba629c1a769b5586d6e4d"
            />

            <div class="nekter-item-wrap">
              <h4>Almond Butter Bowl</h4>
              <h4 class="nekter-item-price">$9.95</h4>
              <p>
                This creamy sensation is the perfect for all almond butter
                lovers!...
              </p>
            </div>
            <div class="btn-center">
              <a
                href="https://order.nekterjuicebar.com/menu/blue-bell/products/13019518"
                data-sb-event="link-outgoing"
                data-sb-prop-link="https://order.nekterjuicebar.com/menu/blue-bell/products/13019518"
                target="_blank"
                >Order Now</a
              >
            </div>
          </div>

          <div class="nekter-olo-menu-product_item">
            <img
              data-src="https://olo-images-live.imgix.net/6a/6a1a82df3134472585ad8050be074fba.jpg?auto=format%2Ccompress&amp;q=60&amp;cs=tinysrgb&amp;w=528&amp;h=352&amp;fit=crop&amp;s=3ba903b2aa6c505808dce5a35cc5c3be"
              loading="lazy"
              class=" image-scale-hack lazyloading"
              src="https://olo-images-live.imgix.net/6a/6a1a82df3134472585ad8050be074fba.jpg?auto=format%2Ccompress&amp;q=60&amp;cs=tinysrgb&amp;w=528&amp;h=352&amp;fit=crop&amp;s=3ba903b2aa6c505808dce5a35cc5c3be"
            />

            <div class="nekter-item-wrap">
              <h4>Dragon Fruit Bowl</h4>
              <h4 class="nekter-item-price">$8.95</h4>
              <p>
                Indulge in all the benefits this exotic fruit has to offer
                including...
              </p>
            </div>
            <div class="btn-center">
              <a
                href="https://order.nekterjuicebar.com/menu/blue-bell/products/13019519"
                data-sb-event="link-outgoing"
                data-sb-prop-link="https://order.nekterjuicebar.com/menu/blue-bell/products/13019519"
                target="_blank"
                >Order Now</a
              >
            </div>
          </div>

          <div class="nekter-olo-menu-product_item">
            <img
              data-src="https://olo-images-live.imgix.net/3c/3cf2976122e94dceb659b8180e7b94f3.jpg?auto=format%2Ccompress&amp;q=60&amp;cs=tinysrgb&amp;w=528&amp;h=352&amp;fit=crop&amp;s=57529949418c4bf4a8f98aa0a70237d3"
              loading="lazy"
              class=" image-scale-hack lazyloading"
              src="https://olo-images-live.imgix.net/3c/3cf2976122e94dceb659b8180e7b94f3.jpg?auto=format%2Ccompress&amp;q=60&amp;cs=tinysrgb&amp;w=528&amp;h=352&amp;fit=crop&amp;s=57529949418c4bf4a8f98aa0a70237d3"
            />

            <div class="nekter-item-wrap">
              <h4>Acai Mango Bowl</h4>
              <h4 class="nekter-item-price">$8.95</h4>
              <p>
                An antioxidant-packed bowl with a tropical twist! Acai, banana,
                mango,...
              </p>
            </div>
            <div class="btn-center">
              <a
                href="https://order.nekterjuicebar.com/menu/blue-bell/products/13019516"
                data-sb-event="link-outgoing"
                data-sb-prop-link="https://order.nekterjuicebar.com/menu/blue-bell/products/13019516"
                target="_blank"
                >Order Now</a
              >
            </div>
          </div>

          <div class="nekter-olo-menu-product_item">
            <img
              data-src="https://olo-images-live.imgix.net/8e/8e6d902d5d564be0b8faf4ab9786b3b1.jpg?auto=format%2Ccompress&amp;q=60&amp;cs=tinysrgb&amp;w=528&amp;h=352&amp;fit=crop&amp;s=ae688bb9f063548a795fec759e124636"
              loading="lazy"
              class=" image-scale-hack lazyloading"
              src="https://olo-images-live.imgix.net/8e/8e6d902d5d564be0b8faf4ab9786b3b1.jpg?auto=format%2Ccompress&amp;q=60&amp;cs=tinysrgb&amp;w=528&amp;h=352&amp;fit=crop&amp;s=ae688bb9f063548a795fec759e124636"
            />

            <div class="nekter-item-wrap">
              <h4>Protein Power</h4>
              <h4 class="nekter-item-price">$10.75</h4>
              <p>
                Packs a punch with 33g of protein! Strawberry, banana, cocoa
                nibs,...
              </p>
            </div>
            <div class="btn-center">
              <a
                href="https://order.nekterjuicebar.com/menu/blue-bell/products/13019544"
                data-sb-event="link-outgoing"
                data-sb-prop-link="https://order.nekterjuicebar.com/menu/blue-bell/products/13019544"
                target="_blank"
                >Order Now</a
              >
            </div>
          </div>

          <div class="nekter-olo-menu-product_item">
            <img
              data-src="https://olo-images-live.imgix.net/01/0183649ac1bb4529b4f1c549e3cd28cd.png?auto=format%2Ccompress&amp;q=60&amp;cs=tinysrgb&amp;w=528&amp;h=352&amp;fit=crop&amp;s=a922a107ec52e57812fbf917e3a0281c"
              loading="lazy"
              class="lazyload image-scale-hack"
            />

            <div class="nekter-item-wrap">
              <h4>Immunity Bowl</h4>
              <h4 class="nekter-item-price">$10.75</h4>
              <p>
                Over 1000mg of vitamin-c to kick your immunity into high gear!
                A...
              </p>
            </div>
            <div class="btn-center">
              <a
                href="https://order.nekterjuicebar.com/menu/blue-bell/products/34900611"
                data-sb-event="link-outgoing"
                data-sb-prop-link="https://order.nekterjuicebar.com/menu/blue-bell/products/34900611"
                target="_blank"
                >Order Now</a
              >
            </div>
          </div>

          <div class="nekter-olo-menu-product_item">
            <img
              data-src="https://olo-images-live.imgix.net/c3/c38c9e5450ab49bf910e0d4bf459dd77.jpg?auto=format%2Ccompress&amp;q=60&amp;cs=tinysrgb&amp;w=528&amp;h=352&amp;fit=crop&amp;s=87ee64cee8b908120f33beabb4ff727c"
              loading="lazy"
              class="lazyload image-scale-hack"
            />

            <div class="nekter-item-wrap">
              <h4>Acai Superfood Bowl</h4>
              <h4 class="nekter-item-price">$10.85</h4>
              <p>
                Acai, banana, pineapple, strawberry, blueberry, spinach, kale,
                and...
              </p>
            </div>
            <div class="btn-center">
              <a
                href="https://order.nekterjuicebar.com/menu/blue-bell/products/13019520"
                data-sb-event="link-outgoing"
                data-sb-prop-link="https://order.nekterjuicebar.com/menu/blue-bell/products/13019520"
                target="_blank"
                >Order Now</a
              >
            </div>
          </div>
        </div>
      </div>

      <span class="category-arrow-wrap fa fa-angle-left"></span>
      <span class="category-arrow-wrap fa fa-angle-right"></span>
    </div>

    <div class="nekter-category-wrap" id="Juices">
      <div class="nekter-category-list-wrap">
        <h3>Juices</h3>

        <div class="nekter-olo-menu-product_item">
          <img
            data-src="https://olo-images-live.imgix.net/99/997d46b0fcdb4ea5a928d32106de3ab6.jpg?auto=format%2Ccompress&amp;q=60&amp;cs=tinysrgb&amp;w=528&amp;h=352&amp;fit=crop&amp;s=5821d2dc85491487f5ee388675786310"
            loading="lazy"
            class="lazyload image-scale-hack"
          />

          <div class="nekter-item-wrap">
            <h4>Watermelon Cooler</h4>

            <p>
              Our fan-favorite juice is back - made from hydrating watermelon
              and a...
            </p>
          </div>
          <div class="btn-center">
            <a
              href="https://order.nekterjuicebar.com/menu/blue-bell/products/38098345"
              data-sb-event="link-outgoing"
              data-sb-prop-link="https://order.nekterjuicebar.com/menu/blue-bell/products/38098345"
              target="_blank"
              >Order Now</a
            >
          </div>
        </div>

        <div class="nekter-olo-menu-product_item">
          <img
            data-src="https://olo-images-live.imgix.net/0d/0dcb8c25fac54aa483e794112d2078e5.png?auto=format%2Ccompress&amp;q=60&amp;cs=tinysrgb&amp;w=528&amp;h=352&amp;fit=crop&amp;s=1b0ee8e0ee204293289bad4400d0ee9d"
            loading="lazy"
            class="lazyload image-scale-hack"
          />

          <div class="nekter-item-wrap">
            <h4>Toxin Flush™</h4>

            <p>
              Detox the holidays away with our fan-favorite green juice loaded
              with...
            </p>
          </div>
          <div class="btn-center">
            <a
              href="https://order.nekterjuicebar.com/menu/blue-bell/products/13019502"
              data-sb-event="link-outgoing"
              data-sb-prop-link="https://order.nekterjuicebar.com/menu/blue-bell/products/13019502"
              target="_blank"
              >Order Now</a
            >
          </div>
        </div>

        <div class="nekter-olo-menu-product_item">
          <img
            data-src="https://olo-images-live.imgix.net/6f/6f4401e57188423d94369e5fb101fee6.png?auto=format%2Ccompress&amp;q=60&amp;cs=tinysrgb&amp;w=528&amp;h=352&amp;fit=crop&amp;s=50e4d3b026034ebe43ea09c9ed73be55"
            loading="lazy"
            class="lazyload image-scale-hack"
          />

          <div class="nekter-item-wrap">
            <h4>Greenie™</h4>

            <p>
              Start your day with our signature green drink and flood your body
              with...
            </p>
          </div>
          <div class="btn-center">
            <a
              href="https://order.nekterjuicebar.com/menu/blue-bell/products/13019503"
              data-sb-event="link-outgoing"
              data-sb-prop-link="https://order.nekterjuicebar.com/menu/blue-bell/products/13019503"
              target="_blank"
              >Order Now</a
            >
          </div>
        </div>

        <div class="nekter-olo-menu-product_item">
          <img
            data-src="https://olo-images-live.imgix.net/dd/ddfd74441e3a4f4f8306edb0d68289d9.jpg?auto=format%2Ccompress&amp;q=60&amp;cs=tinysrgb&amp;w=528&amp;h=352&amp;fit=crop&amp;s=1a263683f59b1811528655360a5587ea"
            loading="lazy"
            class="lazyload image-scale-hack"
          />

          <div class="nekter-item-wrap">
            <h4>Green Apple Detox</h4>

            <p>
              A fresh mix on a juice that is both purifying and energizing.
              Green...
            </p>
          </div>
          <div class="btn-center">
            <a
              href="https://order.nekterjuicebar.com/menu/blue-bell/products/13019499"
              data-sb-event="link-outgoing"
              data-sb-prop-link="https://order.nekterjuicebar.com/menu/blue-bell/products/13019499"
              target="_blank"
              >Order Now</a
            >
          </div>
        </div>

        <div class="nekter-olo-menu-product_item">
          <img
            data-src="https://olo-images-live.imgix.net/2a/2aaeaad40d214bc7b34af06ccd5091d1.png?auto=format%2Ccompress&amp;q=60&amp;cs=tinysrgb&amp;w=528&amp;h=352&amp;fit=crop&amp;s=e7f6d2f8a1df8b3dafb0187b4c68b9c8"
            loading="lazy"
            class="lazyload image-scale-hack"
          />

          <div class="nekter-item-wrap">
            <h4>Buzz</h4>

            <p>
              Feel an instant buzz of energy, add cayenne pepper for a
              metabolizing...
            </p>
          </div>
          <div class="btn-center">
            <a
              href="https://order.nekterjuicebar.com/menu/blue-bell/products/13019500"
              data-sb-event="link-outgoing"
              data-sb-prop-link="https://order.nekterjuicebar.com/menu/blue-bell/products/13019500"
              target="_blank"
              >Order Now</a
            >
          </div>
        </div>

        <div class="nekter-olo-menu-product_item">
          <img
            data-src="https://olo-images-live.imgix.net/bd/bd22d9a568344f289a92164bd6128fdb.jpg?auto=format%2Ccompress&amp;q=60&amp;cs=tinysrgb&amp;w=528&amp;h=352&amp;fit=crop&amp;s=f91d49dbb586738b39ada2501f0ecf2f"
            loading="lazy"
            class="lazyload image-scale-hack"
          />

          <div class="nekter-item-wrap">
            <h4>Celery Aide NEW</h4>

            <p>
              A refreshing and rejuvenating blend of celery, lemon, and green
              apple....
            </p>
          </div>
          <div class="btn-center">
            <a
              href="https://order.nekterjuicebar.com/menu/blue-bell/products/37046413"
              data-sb-event="link-outgoing"
              data-sb-prop-link="https://order.nekterjuicebar.com/menu/blue-bell/products/37046413"
              target="_blank"
              >Order Now</a
            >
          </div>
        </div>

        <div class="nekter-olo-menu-product_item">
          <img
            data-src="https://olo-images-live.imgix.net/a2/a25a4f05b55d4f0393053220cefc69ae.png?auto=format%2Ccompress&amp;q=60&amp;cs=tinysrgb&amp;w=528&amp;h=352&amp;fit=crop&amp;s=7dba9e7877cd4c91dac00842c3c766b2"
            loading="lazy"
            class="lazyload image-scale-hack"
          />

          <div class="nekter-item-wrap">
            <h4>Recovery NEW</h4>

            <p>Beet, ginger, kale, orange, and celery. 120 / 180 / 240 cal</p>
          </div>
          <div class="btn-center">
            <a
              href="https://order.nekterjuicebar.com/menu/blue-bell/products/37046573"
              data-sb-event="link-outgoing"
              data-sb-prop-link="https://order.nekterjuicebar.com/menu/blue-bell/products/37046573"
              target="_blank"
              >Order Now</a
            >
          </div>
        </div>

        <div class="nekter-olo-menu-product_item">
          <img
            data-src="https://olo-images-live.imgix.net/8b/8b77d5c27bfc487bb03b41fb75d7efbd.jpg?auto=format%2Ccompress&amp;q=60&amp;cs=tinysrgb&amp;w=528&amp;h=352&amp;fit=crop&amp;s=1dddea0995524fc722c8287e866a9cb8"
            loading="lazy"
            class="lazyload image-scale-hack"
          />

          <div class="nekter-item-wrap">
            <h4>Make Your Own Juice</h4>

            <p></p>
          </div>
          <div class="btn-center">
            <a
              href="https://order.nekterjuicebar.com/menu/blue-bell/products/13019496"
              data-sb-event="link-outgoing"
              data-sb-prop-link="https://order.nekterjuicebar.com/menu/blue-bell/products/13019496"
              target="_blank"
              >Order Now</a
            >
          </div>
        </div>
      </div>

      <span class="category-arrow-wrap fa fa-angle-left"></span>
      <span class="category-arrow-wrap fa fa-angle-right"></span>
    </div>
  </div>
</div>
