.hero-widget {
  --z-index-content: 1;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: var(--palette-grid-margin);
  padding: 20px;
  background-size: cover;
  background-blend-mode: multiply;

  &.hero-widget--small {
    min-height: 20vh;
  }

  &.hero-widget--medium {
    min-height: 50vh;
  }

  &.hero-widget--large {
    min-height: 80vh;
  }

  p:last-of-type {
    margin-bottom: 0;
  }
}

.hero-widget__content {
  z-index: var(--z-index-content);
  max-width: 620px;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 0;
  }

  .button:not(:last-of-type) {
    margin-right: 20px;
  }
}

.hero-widget__video,
.hero-widget__screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hero-widget__video {
  object-fit: cover;
}

.hero-widget__screen {
  background-color: rgba($color-black, 0.5);
}

.hero-widget__actions {
  margin-top: 20px;
}
