.header {
  @include font-size(1);
}

.navigation {
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-right: $margin;
  padding-left: $margin;
  max-width: $content-width;
}

.navigation--center {
  justify-content: center;

  .navigation__link {
    margin: 0 30px;
  }
}

.navigation__link {
  text-decoration: none;

  & + & {
    margin-left: $margin;
  }
}

.navigation__logo {
  display: inline-block;
  max-width: 160px;
  img {
    width: 100%;
  }
}
