.header {
  @include font-size(1);
}

.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-right: $margin;
  padding-left: $margin;
}

.navigation__link {
  & + & {
    margin-left: $margin;
  }
}
