.soci-footer__links {
  display: flex;
  justify-content: center;
  background-color: #efefef;
  padding: 120px 0 40px;
}

.soci-footer__column-links {
  ol {
    list-style-type: none;
    padding: 0;
  }

  li {
    letter-spacing: 3px;
    text-transform: uppercase;
    color: black;
    margin-bottom: 8px;
    font-size: 15px;
  }

  a, [data-rich-text] a {
    text-decoration: none;
    color: currentColor;
  }
}

.soci-footer__column {
  flex: 0 0 33%;
  padding: 0 10px;
  box-sizing: border-box;
  text-align: center;
}

.soci-footer__column-header {
  letter-spacing: 5px;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 400;
}

.soci-footer__copyright {
  padding: 20px 0;
}

.soci-footer__copyright-logo {
  img {
    max-width: 170px;
  }
}

.soci-footer__copyright-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}

.soci-footer__copyright-column {
  margin: 0 70px;
}

.soci-footer__copyright_links {
  padding: 0;
  list-style-type: none;
  color: black;
  display: flex;
  a {
    display: inline-block;
    margin: 0 20px;
    color: currentColor;
    text-decoration: none;
  }
}