@import 'scss/card';
@import 'scss/footer';

.soci-button {
  background-color: var(--accent-color);
  color: var(--accent-color-contrast);
  padding: 10px;
  text-align: center;
  font-size: 12px;
  letter-spacing: 2px;
  text-decoration: none;
}

.soci-container {
  max-width: 1054px;
  margin: 0 auto;
  margin-bottom: 80px;
}

.soci-meta {
  font-size: 10px;
  letter-spacing: 2;
  text-transform: uppercase;
}

.navigation {
  justify-content: center;
}

.navigation img {
  max-width: 160px;
  margin: 0 25px;
}

.navigation__links {
  text-align: center;
  a {
    display: inline-block;
    width: 110px;
    margin: 0 20px;
  }
}

[data-rich-text] {
  h4 {
    font-size: 40px;
  }

  h3 {
    font-size: 32px;
  }
}
