@import 'scss/card';

.soci-button {
  background-color: #3EC2CF;
  color: white;
  padding: 10px;
  text-align: center;
  font-size: 12px;
  letter-spacing: 2px;
  text-decoration: none;
}

.soci-container {
  max-width: 1054px;
  margin: 0 auto;
  margin-bottom: 80px;
}