{% import '@apostrophecms-pro/basics:link/link.html' as linkMacros %}
{% import '@apostrophecms-pro/basics:image/image.html' as images %}

{% macro renderLogo(logo) %}
  {% if logo %}
    <a href="/" class="navigation__logo"><img src="{{ apos.attachment.url(logo, { size: 'one-third' }) }}" /></a>
  {% endif %}
{% endmacro %}

{% macro renderLinks(links) %}
  {% for item in links %}
    {{ renderLink(item) }}
  {% endfor %}
{% endmacro %}

{% macro renderLink(item) %}
  {% set path = apos.basics.linkPath(item) %}
  {{ linkMacros.render({
    label: item.linkText,
    path: path,
    target: item.linkTarget,
    class: 'navigation__link'
  }) }}
{% endmacro %}

{% macro render(doc) %}
  <nav class="navigation navigation--{{ doc.navLogoAlignment }}">
    {% set logo = apos.image.first(doc.navLogo) %}
    {% if doc.navLogoAlignment == 'left' %}
      {{ renderLogo(logo) }}
      <div class="navigation__links">
        {{ renderLinks(doc.navLinks) }}
      </div>
    {% elif doc.navLogoAlignment == 'right' %}
      <div class="navigation__links">
        {{ renderLinks(doc.navLinks) }}
      </div>
      {{ renderLogo(logo) }}
    {% else %}
      {% for item in doc.navLinks %}
        {% if loop.index0 < (doc.navLinks.length / 2) %}
          {{ renderLink(item) }}
        {% endif %}
      {% endfor %}
      {{ renderLogo(logo) }}
      {% for item in doc.navLinks %}
        {% if loop.index0 >= (doc.navLinks.length / 2) %}
          {{ renderLink(item) }}
        {% endif %}
      {% endfor %}
    {% endif %}
  </nav>
{% endmacro %}
