{% import "@apostrophecms-pro/basics:navigation/navigation.html" as navigation %}
{% extends data.outerLayout %}

{% block startHead %}
  {# Shut off "compatibility view" in IE for modern browser compatibility, #}
  {# even when the browser is otherwise configured to emulate IE8 #}
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
{% endblock %}

{% block beforeMain %}
  <header class="header">
    {{ navigation.render(data.global) }}
  </header>
  <main>
{% endblock %}

{% block afterMain %}
  {{ super() }}
  </main>
  <footer class="footer">
    <div class="footer__inner">
      {%  area data.global, 'footer' %}
    </div>
  </footer>
{% endblock %}
