$white: #fff;

$blue: #66f;
$green: #00bf9a;
$red: #ea433a;
$purple: #b327bf;
$black: #1d232b;
$light: #f2f2f2;
$background: #11151f;
$input: #2c354d;
$input-border: #8895a7;

$colors: (
  text-primary: $black,
  text-inverse: $white,
  background: $white,
  shadow-base: $black
);

.o-light { color: $light; }

@function color($key) {
  @if map-has-key($colors, $key) {
    @return map-get($colors, $key);
  }

  @warn 'Unknown `#{$key}` in $colors.';

  @return null;
}

@function color-alpha($color, $opacity) {
  @if map-has-key($colors, $color) {
    @return rgba(map-get($colors, $color), $opacity);
  }

  @warn 'Unknown `#{$color}` in $colors.';

  @return null;
}
