// Spacing:
$spacing-unit: 1rem;

$spacing-gutter: ($spacing-unit * 2);

$blocks: (
  tiny: ($spacing-unit / 2)
  small: ($spacing-unit * 2),
  medium: ($spacing-unit * 4),
  large: ($spacing-unit * 6)
);
