.o-brands {
  background: $white;
  color: $black;
}

.c-cards {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  column-gap: 32px;
  row-gap: 32px;
}

.c-card {
  position: relative;
  padding: 8px;
  border-radius: 6px;
  background: $white;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
}

.c-card__media {
  height: 200px;
}

.c-card__media-image {
  max-height: 80%;
  object-fit: contain;
  max-width: 80%;
}

.c-card__dashboard-link {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: $light;
}

.c-card__media-placeholder {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(36deg, #4950f6 12%, #578beb 94%);
}

.c-card__content {
  padding: 16px 0 8px;
}

.c-card__title {
  overflow: hidden;
  margin: 0;
  margin-bottom: 8px;
  font-family: $font;
  font-size: 16px;
  line-height: 1.333;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.c-card__button {
  display: inline-flex;
  overflow: visible;
  width: 32px;
  height: 32px;
  margin: 0;
  padding: 0;
  border: none;
  color: inherit;
  background: transparent;
  font: inherit;
  line-height: normal;
  text-decoration: none;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: $white;
  text-align: center;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;

  &:hover {
    background-color: #f4f4f4;
  }
}

.c-card__button--icon {
  width: 16px;
  height: 16px;
  fill: $black;
  user-select: none;
  pointer-events: none;
}