.c-site-menu {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-bottom: 20px;
  border-bottom: 2px solid fade($white, 30%);
}

.c-site__tabs {
  display: flex;
  align-items: baseline;
}

.c-site__tab {
  margin: 0 1rem;

  a {
    display: flex;

    svg {
      width: 11px;
      margin-left: 10px;
      align-self: flex-end;
    }

    svg g, svg path {
      fill: currentColor;
    }
  }

  button {
    padding: 10px 10px 0;
    font-family: $font;
    font-weight: 500;
    font-size: $font-12;
    letter-spacing: 1px;

    &:hover, &:focus, &.c-site__tab-button--active {
      color: $blue;
    }
  }
}

.c-site__tabs-container {
  position: relative;

  .apos-area-widget-wrapper {
    margin-bottom: 50px;
  }
}

.c-site__tab-content {
  display: none;
}

.c-site__tab-content--active {
  display: block;
}

.c-site-menu__location { margin-bottom: 10px; }
.c-site-menu__title { margin-bottom: 10px; }
