.sr-only:not(:focus, :active) {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.not-sr-only {
  position: static;
  overflow: visible;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  clip: auto;
  white-space: normal;
}
