.nekter-sub-nav {
  border-bottom: 1px solid lightgray;
  margin-bottom: 20px;
}

.nekter-sub-nav_wrap {
  max-width: 100%;
  margin: auto;
  position: relative;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  padding: 0 30px;
}

.nekter-sub-nav_wrap ul {
  text-align: center;
  white-space: nowrap;
  overflow-x: scroll;
  -ms-overflow-style: scroll; // IE 10+
  scrollbar-width: none; // Firefox
}

.nekter-sub-nav_wrap ul::-webkit-scrollbar {
  display: none;
}

.nekter-sub-nav_wrap li::before {
  content: none;
}

.nekter-sub-nav_wrap li {
  content: none;
  padding: 0;
  display: inline-block;
  border-radius: 2px;
}

.nekter-sub-nav_wrap li.active {
  border-bottom: 2px solid black;
}

.nekter-sub-nav_wrap li button {
  all: unset;
  color: black;
  border-radius: 2px;
  padding: 17px 20px;
  font-size: 16px;
  line-height: 1.5;
  font-weight: bold;
  cursor: pointer;
}

.nekter-sub-nav_wrap li a:button,
.nekter-sub-nav_wrap li a:button {
  color: var(--accent-color);
}

.nekter-sub-nav_wrap li.first button {
  color: white;
}

.nekter-sub-nav_wrap li {
  color: black;
}

.nekter-olo-menu h2 {
  margin-bottom: 20px;
  font-weight: normal;
  letter-spacing: 2px;
  letter-spacing: 0px;
  font-family: "Bench Grinder Titling", sans-serif;
  text-transform: uppercase;
  padding: 0 15px 20px 15px;
}
.nekter-category-wrap {
  max-width: 100%;
  display: none;
  position: relative;
}
.nekter-category-wrap.active {
  display: block;
}
.nekter-category-list-wrap {
  overflow: scroll;
  white-space: nowrap;
  margin-bottom: 20px;
  padding: 0 33px;
}
.nekter-category-list-wrap h3 {
  letter-spacing: 0;
  padding-left: 20px;
  font-size: 46px;
}

.nekter-olo-menu-product_item {
  flex: 0 0 22%;
  display: inline-block;
  box-shadow: 0 1px 8px 0 rgb(0 0 0 / 4%);
  border: 1px solid #eee;
  margin-right: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nekter-olo-menu-product_item img {
  max-width: 100%;
  width: 100%;
}
.nekter-olo-menu-product_item a,
.nekter-olo-menu-product_item p,
.nekter-olo-menu-product_item h4,
.nekter-olo-menu-product_item img {
  display: block;
  white-space: initial;
  margin-bottom: 8px;
}
.nekter-olo-menu-product_item p {
  font-size: 13px;
}
.nekter-item-wrap {
  padding: 10px;
}
.btn-center {
  text-align: center;
  margin-top: 10px;
}
.nekter-olo-menu-product_item a {
  display: block;
  margin: 0 auto;
  background-color: var(--accent-color);
  color: var(--accent-color-contrast);
  padding: 15px 25px;
  margin-top: 10px;
  text-decoration: none;
  text-transform: uppercase;
}
.nekter-sub-nav_element {
  padding-right: 60px;
  margin-bottom: 0;
}

.nekter-olo-menu-product_item h4 {
  font-size: 18px;
}