.locations {
  position: relative;
  height: 80vh;
}

.locations-list {
  z-index: 400;
  position: absolute;
  top: 40px;
  left: 40px;
  width: 300px;
  height: 85%;
  background: #efefef;
  overflow: scroll;
}

.location-list__items {
  padding: 0;
}
.location-list__item {
  list-style: none;
  padding: 20px;
  border-top: 1px solid lightgray;
}

.location-list__item:nth-child(even) {
  background-color: #fff;
}

.location-list__title {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.location-list__text {
  font-size: 15px;
  margin-bottom: 10px;
  letter-spacing: 0.5px;
}

.locations-list__header,
.location-list__search-submit {
  background-color: var(--accent-color);
  color: var(--accent-color-contrast);
}

.location-list__button {
  display: block;
}

.locations-list__header {
  text-align: center;
  padding: 20px 15px 15px;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.location-list__search {
  padding: 10px;
}
.location-list__search-input {
  border-radius: 2px;
  background: #fff;
  color: #000;
  border: 1px solid #ebebeb;
  letter-spacing: 1px;
  box-shadow: none;
  -webkit-appearance: none;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
}

.location-list__search-submit {
  display: block;
  width: 100%;
  box-shadow: none;
  border-radius: 2px;
  border: 0;
  text-transform: uppercase;
  padding: 10px;
  letter-spacing: 1px;
}