{% extends "outerLayoutBase.html" %}

{% block standardHead %}
  {# Use standardHead and super() rather than extraHead to ensure palette injects after it #}
  {{ super() }}
  {% if data.global.googleFontFamiliesUrl %}
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="{{ data.global.googleFontFamiliesUrl }}" rel="stylesheet" />
  {% endif %}
  {% if data.isDev %}
    {# NOTE: Allows webpack to do hot module reloading.
      Can remove if you're not webpacking your assets. #}
    <link href="http://localhost:9002/wp/theme-{{ data.theme }}.css" rel="stylesheet" />
  {% endif %}
{% endblock %}

{% block afterAposScripts %}
  {% if data.isDev %}
    {# NOTE: Allows webpack to do hot module reloading.
      Can remove if you're not webpacking your assets. #}
    <script src="http://localhost:9002/wp/theme-{{ data.theme }}.js"></script>
  {% endif %}
{% endblock %}
