{% macro render(piece) %}
  {% set image = apos.image.first(piece.logo) %}
  <div class="c-card" data-apos-edit-site="{{ piece._id }}">
    <div class="c-card__inner">
      <div class="c-card__media">
        {% if image %}
          <span class="c-card__dashboard-link">
            <img class="c-card__media-image" src="{{ apos.attachment.url(image) }}" alt="{{ piece.title }}">
          </span>
        {% else %}
          <span class="c-card__dashboard-link c-card__dashboard-link--placeholder">
            {{ piece.title }}
          </span>
        {% endif %}
      </div>
      <div class="c-card__content">
        {% if piece.location %}
          <h5 class="o-type-small c-card__location">{{ piece.location }}</h5>  
        {% endif %}
        <h3 class="o-type-small c-card__title">{{ piece.title }}</h3>
        <h4 class="o-type-small c-card__website">
          <button data-edit-site="{{ piece._id }}" target="_blank">⚙️</button>
          <a href="{{ piece._url }}">➡️</a>
        </h4>
      </div>
    </div>
  </div>
{% endmacro %}

{% macro renderAll(pieces) %}
  <div class="c-cards">
    {% for piece in pieces %}
      {{ render(piece) }}
    {% endfor %}
  </div>
{% endmacro %}
