{% macro render(piece) %}
  {% set image = apos.image.first(piece.logo) %}
  <div class="c-card" data-apos-edit-site="{{ piece._id }}">
    <div class="c-card__inner">
      <div class="c-card__media">
        <div class="c-card__dashboard-link">
        {% if image %}
            <img class="c-card__media-image" src="{{ apos.attachment.url(image) }}" alt="">
        {% else %}
          <div class="c-card__media-placeholder"></div>
        {% endif %}
        </div>
      </div>
      <div class="c-card__content">
        {% if piece.location %}
          <h5 class="o-type-small c-card__location">{{ piece.location }}</h5>  
        {% endif %}
        <h3 class="c-card__title">{{ piece.title }}</h3>
        <div class="c-card__website">
          <button data-edit-site="{{ piece._id }}" target="_blank">⚙️</button>
          <a href="{{ piece._siteLoginUrl }}">➡️</a>
        </div>
      </div>
    </div>
  </div>
{% endmacro %}

{% macro renderAll(pieces) %}
  <div class="c-cards">
    {% for piece in pieces %}
      {{ render(piece) }}
    {% endfor %}
  </div>
{% endmacro %}
